<div class="container">
    <div class="row center-xs center-sm center-md center-lg middle-xs middle-sm middle-md middle-lg">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        
<footer>
<nav class="sub_navbar">
    <% if(user) { %>
    <li><a href="/auth/logout">logout <%= user.username %>?</a></li>
    <li><a href="/learnmore">Learn More</a></li>
    <% } else { %>
    <li><a href="/learnmore">Learn More</a></li>
    <% } %>
</nav>


  <p>&copy; 2017 MaskOFF, Inc.</p>
  <p>Made with &hearts; by <a class="inlineLinks" target="_blank" href="http://www.gainorbostwick.com/">Gainor Bostwick</a></p>
</footer>

        </div>
    </div>
</div>
</body>
</html>