<div class="container">
    <div class="row center-xs center-sm center-md center-lg middle-xs middle-sm middle-md middle-lg">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

<nav class="navbar">
    <% if(user) { %>
    <li><a href="/auth/logout">logout</a></li>
    <% } %>
</nav>

<footer>
  <p>&copy; 2017 MaskOFF, Inc.</p>
  <p>Made with &hearts; by <a target="_blank" href="http://www.gainorbostwick.com/">Gainor Bostwick</a></p>
</footer>

        </div>
    </div>
</div>
</body>
</html>