<nav class="navbar">
    <% if(!user) { %>
    <li><a href="/">Login</a></li>
    <li><a href="/auth/register">Register</a></li>
    <li><a href="/browse">Browse</a></li>
    <% } else { %>
    <li><a href="/dashboard/">Dashboard</a></li>
    <li><a href="/browse">Browse</a></li>
    <li><a href="/dashboard/accepted">My Trades</a></li>
    <li><a href="/dashboard/create">Create a Listing</a></li>
    <% } %>
</nav>