<nav class="navbar">
    <% if(!user) { %>
    <li><a href="/">Login</a></li>
    <li><a href="/auth/register">Register</a></li>
    <li><a href="/browse">Browse</a></li>
    <li><a href="/learnmore">Learn</a></li>
    <% } else { %>
    <li><a href="/dashboard/">Dashboard</a></li>
    <li><a href="/browse">Browse</a></li>
    <li><a href="/dashboard/trades">My Trades</a></li>
    <li><a href="/dashboard/create">Start a Trade</a></li>
    <% } %>
</nav>