/* 
MAIN
*/
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f4f4;
    line-height: 2em;
    color: #272a33;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.container {
    margin: auto;
}

.container a {
    color: #272a33;
    text-decoration: none;
}

.container a:active, a:link, a:visited {
    color: #272a33;
}

.container a:hover {
    color: #337ab7;
}

ul {
    list-style: none;
}

a:active, a:link, a:visited {
   transition: all 0.3s linear;
   -webkit-transition: all 0.3s linear;
   -moz-transition: all 0.3s linear;
}

/*
* FORMS
*/

button {
    font-size: 12px;
    border: 0px;
    padding: 6px 20px;
    background-color: #272a33;
    color: #fff;
    font-weight: 700;
    border-radius: 4px;
}

button:hover {
    background-color: #337ab7;
}

input[type=text], input[type=password] {
    width: 450px;
    height: 50px;
    font-size: 20px;
    padding: 10px 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    font-weight: lighter;
    letter-spacing: 2px;
    color: #337ab7;
    border-radius: 4px;
}

input[type=number], select {
    width: 300px;
    height: 50px;
    font-size: 20px;
    padding-left: 5px;
    font-weight: lighter;
    letter-spacing: 2px;
    color: #337ab7;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px; 
}

/*
FLASH MESSAGES
*/
.error {
  padding: 5px;
  width: 100%;
  border: 1px solid red;
  background-color: #ffa5a5;
  margin: 5px;
}

.error:hover {
  background-color: #ff4747;
}

.success {
  padding: 5px;
  width: 100%;
  border: 1px solid green;
  background-color: #93e099;
  margin: 5px;
}

.success:hover {
  background-color: #4f9754;
}

/*
* DASHBOARD
*/

.dashboard i {
    font-size: 23px;
    margin-left: 5px;
}

.dashboard i:hover {
    color: #337ab7;
}

/*
* Create Listing
*/

.createlisting i {
    font-size: 23px;
    margin-left: 5px;
}

.createlisting i:hover {
    color: #337ab7;
}

.createlisting .fa-minus:hover {
    color: red;
}

.createlisting .fa-question:hover {
    color: #4f9754;
}

.createlisting #tooltip {
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 700;
}

/*
* FOOTER
*/

footer {
    margin-top: 200px;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 2px;
}

/*
* MEDIA QUERIES
*/

@media (max-width: 800px){ 

}