<%- include('partials/header') %>
<div class="container browse">
    <div class="row center-xs center-sm center-md center-lg middle-xs middle-sm middle-md middle-lg">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

<%- include('partials/navbar') %>

<!-- DISPLAY LISTINGS -->
<%- include('partials/AllListings') %>
<!-- END DISPLAY LISTINGS -->

        </div>
    </div>
</div>
<%- include('partials/footer') %>