<%- include('partials/header') %>
<div class="container browse">
    <div class="row center-xs center-sm center-md center-lg middle-xs middle-sm middle-md middle-lg">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

<%- include('partials/navbar') %>

<% if(user) { %>
<h3>Click View Listing to be taken to the listing page to see detailed information.</h3>
<% } else { %>
<h1>Browse our listings.</h1>
<h3><a class="inlineLinks" href="/">Login</a> to view detailed information about each listing.</h3>
<% } %>

<!-- DISPLAY LISTINGS -->
    <% if(data != undefined) { %>
        <%- include('partials/AllListings') %>
    <% } else { %>
    <h1>No current listings, be the first to <a href="/dashboard/create">create one!</a></h1>
    <% } %>
<!-- END DISPLAY LISTINGS -->

        </div>
    </div>
</div>
<%- include('partials/footer') %>