<%- include('partials/header') %>
<div class="container browse">
    <div class="row center-xs center-sm center-md center-lg middle-xs middle-sm middle-md middle-lg">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

<%- include('partials/navbar') %>

<% if(data.id != undefined) { %>
<h1>Listings currently available</h1>
<% } %>

<% if(!user) { %>
<h3><a class="inlineLinks" href="/">Login</a> to view detailed information about each item.</h3>
<% } %>

<!-- DISPLAY LISTINGS -->
<%- include('partials/AllListings') %>
<!-- END DISPLAY LISTINGS -->

        </div>
    </div>
</div>
<%- include('partials/footer') %>