<%- include('partials/header') %>
<div class="container createlisting">
    <div class="row center-xs center-sm center-md center-lg middle-xs middle-sm middle-md middle-lg">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

<%- include('partials/navbar') %>

<div id="boxbox">
<h1>Tell us what you're trading</h1>
<p><%- messages('message', locals) %></p>
<form method='POST' action='/dashboard/create/trade'>
<p> 
<p id="tooltip">Select a category for your listing.</p>
    <select id="category" name="category" required>
        <option value="change" selected>Change Me</option>
        <option value="Footwear">Footwear</option>
        <option value="Clothing">Clothing</option>
        <option value="Accessories">Accessories</option>
    </select>
</p> 

<p>
<p id="tooltip">Enter the brand most associated with your item.</p>
<input type="text" name="brand" placeholder="Brand" maxlength="15" required>
</p>

<p>
<p id="tooltip">Create a title for your listing: Be descriptive, yet consise.</p> 
<input type="text" name="title" placeholder="Title" maxlength="50" required>
</p>

<p>
<p id="tooltip">What size are you trading?<br/>
<span class="convertSize">Footwear sizing is unisex: A men's size 7 is roughly equivalent to a women's size 8.5.</span></p>
<input type="text" id="size" name="size" placeholder="Please choose a category first" required readonly>
<p class="changeSize"></p>
</p>

<p>
<p id="tooltip">What size are you looking for?</p>
<input type="text" id="whatsize" name="whatsize" placeholder="Please choose a category first" required readonly>
<p class="changeWhatSize"></p>
</p>

<p>
<p id="tooltip">What condition is your item in? Be honest.</p>
    <select name="condition" required>
    <option value="New" selected>New</option>
    <option value="Used">Used</option>
    </select>
</p>
 
<p>
<p id="tooltip">You must include 1 image and can insert up to 5 images.</p>
<span id="uploadImage">Upload an image?</span>
<p id="imageUploader" class="hide">
    <span id="imgPrev"></span><br>
    <label for="file-upload" class="file-upload">
        <input id="file-upload" type="file" name="fileupload" accept="image/*">
        <i class="fa fa-cloud-upload"></i> You better choose something nice :)
        </label> <i class="fa fa-minus" aria-hidden="true"></i><br>
        <span class="easier">or use an image url below, its easier.</span>
</p>

<p><input type="text" name="image1" placeholder="Image1 URL" required>  <i class="fa fa-plus" aria-hidden="true"></i></p> 
<p id="insertImages"></p>
</p>

<p>
<p id="tooltip">Are you willing to ship your item?</p>
    <select name="ship" required>
    <option value="Yes" selected>Yes</option>
    <option value="No">No</option>
    </select>
</p>

<p>
<p id="tooltip">Are you willing to meetup and exchange your item in person?</p>
    <select name="meetup" required>
    <option value="Yes" selected>Yes</option>
    <option value="No">No</option>
    </select>
</p>

<p>
<p id="tooltip">Throwing in cash sweetens up the deal, but isn't neccessary.<br/><span class="money">How much you want to throw?</span></p>
    <input id="number" type="number" name="cash" value="0" min="0">
</p>

<button type="submit">Create Trade</button> <button type="reset">Reset Trade</button>
</form>

</div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/javascripts/createlisting.js"></script>
<%- include('partials/footer') %>