<style>
body {
    background-color: black;
    color: red;
}
</style>
<center><h1><%= error.status %> <%= message %></h1>
<a href="https://maskoff.herokuapp.com/"><img id="maskoff-learn" src="https://maskoff.herokuapp.com/images/4.jpg"></a></center>