<%- include('partials/header') %>
<div class="container learnmore">
    <div class="row center-xs center-sm center-md center-lg middle-xs middle-sm middle-md middle-lg">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

<%- include('partials/navbar') %>

<div id="boxbox">
<h1>Why MaskOFF?</h1>
<div class="row start-xs start-sm start-md start-lg">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<h3>The life as we know it</h3>
<p>We all know how hard it is to purchase the things we like, because there isn't enough supply to meet the forever growing demand. Furthermore, if you like Supreme or Palace, you know items sellout within seconds, which makes finding your ideal size challenging. Every season for some odd reason, the size you were purchasing all last season no longer fits, now you're stuck with a shirt you want that doesn't fit. These companies that produce these products are aware of the increasing demand, but yet don't seem to care about us.</p>
<h3>Sadderday</h3>
<p>We've all been there.. countless sleepless nights cyber camping for hot releases. You know what I mean, I'm talking about those "Sadderdays", where we are up late to catch the European boutiques then have to be up early to catch the American boutiques. Very exhausting, I know... trust me, chances are you did all of that and you didn't even get to purchase your size, or you purchase what's left hoping you can trade for your size. Another thing comes to mind, how could I forget raffles. Hold your laughter, at first we were all very excited because we thought these raffles gave us a "better" opportunity to "win". But, we soon came to realize, that these raffles were very shady and often times free publicity for many boutiques.</p>
<h3>Where MaskOFF fits in</h3>
<ol>
<li>MaskOFF is the middle man: We connect two users that are looking to trade what they purchased. You're trading the same item, just different sizes.</li>
<li>You no longer have to secretly message users on Ebay, Grailed or even Craigslist hoping not to get banned.</li>
<li>You, the user, simply make a <a href="/dashboard/create" class="inlineLinks">listing</a> and we will take care of the rest.</li>
<li>We will connect you, with the rest of the world and find someone to accept your trade.</li>
<li>Once a trade is accepted, you will be able to get in contact with that person.</li>
<li>From there it is totally up to you on how to proceed. After you come to an agreement with the user, you can either ship or do a local meetup.</li>
</ol>

        </div>
    </div>
</div>

        </div>
    </div>
</div>
<%- include('partials/footer') %>