<%- include('../partials/header') %>
<h2>Account Login</h2>
<p><%- messages('message', locals) %></p>
<form method='POST' action='/auth/login' >
    <p>Username: <input type="text" name="username"></p>
    <p>Password: <input type="password" name="password"></p>
    <p>Don't have an account? <a href="/auth/register">Register Now</a></p>
    <button type="submit">Login</button> <button type="reset">Reset</button> 
</form>
<a href="/LearnMore">Learn More</a>
<a href="/Browse">Browse Listings</a>
<%- include('../partials/footer') %>